  .wx-index-page {
      height: 100%;
  }
  
  .wx-user-info {
      height: 184px;
      background-size: 100% 100%;
      color: #fff;
      overflow: hidden;
      flex:1;
      .wx-user-number{
        color: red;
      }
  }

  a{
    color: inherit;
    font-size: 12px;
  }

