@import '~@css/common/main.scss';
html,body{
  width: 100%;
  height: auto;
  background: #fff;
  overflow-x:hidden;
}
.form-container {
  font-size: 32px;
  padding: 24px 48px;
  color: #2f394e;
  .item {
    height: 130px;
    line-height: 124px;
    border-bottom: 1px solid #f0f2f7;
    label {
      vertical-align: middle;
      display: inline-block;
      float: left;
    }
    .amount-wrapper{
      overflow: hidden;
      text-align: right;
    }
    .my-voucher{
      float: right;
      margin-right: 10px;
      color: #E11836;
      font-size: 28px;
      span{
        margin: 0 12px;
      }
    }
    input {
      border: 0;
      margin: 0 14px 0 0;
      font-size: 32px;
      line-height: 38px;
      vertical-align: middle;
      text-align: right;
    }
    em {
      vertical-align: middle;
      font-style: normal;
    }
  }
  .card-container {
    span {
      float: left;
    }
    .card-item {
      float: right;
      img {
        float: left;
        margin: 30px 10px 0 0;
      }
      .card-info {
        float: left;
        line-height: 1.5;
        font-size: 24px;
        padding-top: 30px;
        p:first-child {
          color: #253453;
        }
        p:last-child {
          font-size: 20px;
          color: #7b899c;
        }
      }
    }
  }
  .error {
    color: #ed2c50;
    font-size: 24px;
    padding-top: 20px;
  }
  .sure-container {
    width: 558px;
    height: 88px;
    line-height: 88px;
    background: #d4d7de;
    color: #fff;
    margin: 100px auto 36px;
    text-align: center;
    font-weight: 700;
    border-radius: 60px;
    font-size: 34px;
    box-shadow: 0 12px 38px rgba(182, 193, 219, 0.3);
    &.active {
      background: #ed2c50;
      box-shadow: 0 12px 38px rgba(237, 44, 80, 0.3);
      &:active {
        background-color: #df274a;
      }
    }
  }
  .agreement {
    text-align: center;
    color: #b9c1ca;
    font-size: 24px;
    .radio{
      display: inline-block;
      width: 34px;
      height: 34px;
      margin-right: 12px;
      vertical-align: middle;
      cursor: pointer;
      background-image: url("./images/agreeIcon.png");
      &.disactive{
        background-image: url("./images/agreeActive.png");
      }
    }
    span {
      color: #788da9;
      a{
        color: inherit;
      }
    }
    
  }
}
input::-webkit-input-placeholder{
  color: #b9c1ca;
}



.loading{
  width: 100%;
  margin: 100px auto 0;
  text-align: center;
}
